<% include ../partials/header %>
<div class="container form-size">
    <div class="row">
        <h1 style="text-align: center;">Edit <%= announcement.name %></h1>
        <div class="col-xs-10 col-xs-push-1 col-sm-8 col-sm-push-2">      
            <form action="/announcements/<%= announcement._id %>?_method=PUT" method="POST" encType="multipart/form-data">
                <div class="form-group"> 
                    <input class="form-control" type="text" name="name" value="<%= announcement.name %>" required>
                </div>
                <div class="form-group">
                    <input class="form-control" type="number" name="cost" value="<%= announcement.cost %>" step="0.01" min="0" required>
                </div>
                <div class="form-group">
                    <textarea class="form-control" type="text" name="description" required><%= announcement.description %></textarea>
                </div>
                <div class="form-group">
                    <label for="location">Location</label>
                    <input class="form-control" type="text" name="location" id="location" value="<%= announcement.location %>" required>
                </div>
                <div class="form-group">
                    <label for="daterange">Date range</label>
                    <input class="form-control" type="text" name="daterange">
                </div>
                <div class="form-group">
                    <label for="image">If You want to update image, please select new one</label>
                    <input type="file" name="image" accept=".jpg, .jpeg, .png">
                </div>
                <p class="valid_image"></p>
                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block">Submit!</button>
                </div>
            </form>
            <a href="/announcements/<%= announcement._id %>">Go Back</a>
        </div>
    </div>
</div>
<% include ../partials/image_validation %>
<% include ../partials/scripts %>

<script type="text/javascript">
    $(function() {
        //PARSING DATE TO FORMAT
        const startDatestr = new Date('<%= announcement.startDate %>');
        const startDate = ( '0' + startDatestr.getDate() ).slice(-2) + '/' + ( '0' + (startDatestr.getMonth()+1) ).slice(-2) + '/' + startDatestr.getFullYear();
        const endDatestr = new Date('<%= announcement.endDate %>');
        const endDate = ( '0' + endDatestr.getDate() ).slice(-2) + '/' + ( '0' + (endDatestr.getMonth()+1) ).slice(-2) + '/' + endDatestr.getFullYear();

        $('input[name="daterange"]').daterangepicker({
            locale: {
                format: 'DD/MM/YYYY'
            },
            startDate: startDate,
            endDate: endDate
        });
    });
</script>

<% include ../partials/footer %>